/* Fomação Academica e Atuação Profissional*/
.caixa {
    background-color: #F5EDE0;
    color: black;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.caixa p, .caixa ul li {
    color:#333333;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}