/* Fontes importados Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;1,400;1,600&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Configurando Layout */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Estilo que sera usado em todas as paginas */
body {
    background-color: #120A03;
    color: #333333;
    font-family: 'Merriwather', serif;
    font-size: large;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-style: normal;
    color: #C8A034;
}

h2, h3 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-style: normal;
    color: #C8A034;
}

em {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-style: italic;
    color: #C8A034;
}

/* Menu de navegação */
nav {
    background-color: #3E2E20;
    padding: 10px;
    text-align: center;
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 20px;
}

nav a {
    color: #D4AF37;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transform: background-color 0.3s;
}

a:hover {
    background-color: #573D2E;
}

nav a.active {
    font-weight: bold;
    background-color: #D4AF37;
    color: #ffffff;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px;
    background-color: #3E2E20;
}

footer a {
    color: #C9B037;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
