.projeto {
    margin-bottom: 30px;
}

.gif-projeto {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0 , 0.2);
}